body{
    background-color: #0f4236;
    font-family: arial, sans-serif;
    text-align: center;
}
nav{
    background-color: #b8860b;
}
p{
    font-size: 22px;
}

h2{
    font-family: Arial, sans-serif;
    text-align:center;
    font-size: 60px;
    color: #b8860b;
  }

h3{font-family: Arial, sans-serif;
    text-align:center;
    font-size: 30px;
    color: #b8860b;
}
footer{
    position: absolute;
    /* position:relative; */
    bottom:0;
    left:0;
    right:0;
    padding-top:2px;
    height:30px;
    background-color: #999;
    width:100%;
  }